name=Das Ding
action=Geschafft - endlich triffst Du Deine Freunde! Die mehr als froh sind, dass Du da bist, denn so richtig glücklich waren sie mit dem Treffpunkt nicht... Zeit, den Ort zu wechseln - Yolo! (Spiel vorbei)
add_conditions=won
in_conditions=not_hungry,student_id,from_street

name=Zülpicher Straße (Nord)
add_conditions=from_street
action=Hier ist es ziemlich voll.

name=Stiefel
add_conditions=student_id
action=Dein Bekannter gibt Dir den Studentenausweis. Super! Aber die Aufregung hat Dich ziemlich hungrig gemacht...
remove_conditions=from_street
game=schnickschnackschnuck

name=Bei Oma Kleinmann
add_conditions=not_hungry
action=Du isst eine leckeres Veggie-Schnitzel Wiener Art (mit Bratkartoffeln und Salat). Dazu serviert der Köbes ein lecker Kölsch nach 45 min. Wartezeit...

name=Zülpicher Straße (Mitte)
action=Du bist Dir nicht ganz sicher, aber es könnte sein, dass Du grade gesehen hast, wie ein Bekannter in den "Stiefel" gegangen ist... Vielleicht kannst Du Dir seinen Studentenausweis ausleihen!

name=Zülpicher Straße (Süd)
action=Du bekommst eine SMS von ein paar Freunden - Sie sind im "Ding" und warten auf Dich! Sehr gut, nur hast Du neulich Deinen Studenten-Ausweis verloren...
in_conditions=uni

name=Zu Hause

name=Barbarossa-Platz
action=Du entfernst Dich immer mehr von Deinem Ziel... das ist nicht gut!

name=Uni
action=Du bist an der Uni. Hier ist heute wirklich nichts los. Du fragst Dich kurz, warum, dann fällt es Dir ein - es ist Karneval! Schnell weg...
add_conditions=uni